{
    # Global options
    servers {
        protocol {
            allow_h2c
        }
    }
}

:80 {
    handle /api/* {
        reverse_proxy app:3000
    }

    handle {
        root * /srv
        file_server
        try_files {path} /index.html
    }
}
